
<header>
    <div class="header-content">
        <h1>Cloud Service Course</h1>
        <div class="course-info">
            <p class="Course-Fee">Course Fee: ₹2999.0</p><br>
            <a href="https://rzp.io/rzp/BXvTOkpr" target="_blank">
                <button class="buy-now-btn">Buy Now</button>
            </a>
            <!-- Button for navigating to registration page -->
            <button class="register-btn" (click)="navigateToRegister()">Register</button>
        </div>
    </div>
</header>



<div class="cloud-container">
  
    <section class="features">
      <h2>Our Features</h2>
      <ul>
        <li>Scalable Infrastructure</li>
        <li>Global Data Centers</li>
        <li>Secure Environment</li>
        <li>Pay-As-You-Go Pricing</li>
      </ul>
    </section>
  
    <section class="services">
      <h2>Services We Offer</h2>
      <div class="service-card">
        <h3>Compute</h3>
        <p>High-performance virtual servers and containers.</p>
      </div>
      <div class="service-card">
        <h3>Storage</h3>
        <p>Secure and scalable storage solutions for your data.</p>
      </div>
      <div class="service-card">
        <h3>Networking</h3>
        <p>Reliable connectivity to power your applications.</p>
      </div>
    </section>
  
    <footer class="cloud-footer">
        <p>&copy; 2025 JavaFullStackGuru. All rights reserved.</p>
        <p>Contact Us : <a href="mailto:gainilaxman2@gmail.com">gainilaxman2&#64;gmail.com</a> | Phone Number : <a href="tel:+9392291718" style="color: #f2f2f2;">+91 9392291718</a></p>
        <p>
        </p>    
    </footer>
  </div>
  