<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-adsense-account" content="ca-pub-6557551457522385">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get in touch with JavaFullstackGuru. Contact us via email, phone or visit us at Raheja Mindspace in Hyderabad.">
  <meta name="keywords" content="Contact, JavaFullstackGuru, Email, Phone, Address, Raheja Mindspace, Hyderabad">
  <meta name="author" content="JavaFullstackGuru">
  <meta property="og:title" content="Contact JavaFullstackGuru">
  <meta property="og:description" content="Contact us through email or visit us at Raheja Mindspace in Hyderabad.">
  <meta property="og:image" content="https://via.placeholder.com/150">
  <meta property="og:url" content="https://yourwebsite.com/contact">
  <meta property="og:type" content="website">
  <title>Contact Us - JavaFullstackGuru</title>

  <!-- Structured Data (Schema Markup) -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "JavaFullstackGuru",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+91 9392291718",
        "contactType": "Customer Support",
        "areaServed": "IN",
        "availableLanguage": "English"
      },
      "sameAs": [
        "https://www.facebook.com/JavaFullstackGuru",
        "https://twitter.com/JavaFullstackGuru"
      ]
    }
  </script>

</head>
<body>

  <header>
    <h1>Contact Us</h1>
  </header>

  <div class="contact-container">
    <h2>Get in Touch</h2>

    <div class="contact-info">
      <p><strong>Email:</strong> <a href="mailto:gainilaxman2@gmail.com">gainilaxman2&#64;gmail.com</a></p>
      <p><strong>Mobile:</strong> <a href="tel:+9392291718">+91 9392291718</a></p>
      <p><strong>Address:</strong> Building Name: Raheja Mindspace, Hitchcity, Hyderabad 500075</p>
      <p><strong>Business Hours:</strong> Monday to Friday, 9:00 AM - 6:00 PM</p>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 All Rights Reserved | JavaFullstackGuru</p>
    <p>Contact Us : <a href="mailto:gainilaxman2@gmail.com">gainilaxman2&#64;gmail.com</a> | Phone Number : <a href="tel:+9392291718" style="color: #f2f2f2;">+91 9392291718</a></p>
  </footer>


</body>
</html>
