
    <header>
        <div class="header-content">
            <h1>Microservices Course</h1>
            <div class="course-info">
                <p class="Course-Fee">Course Fee : ₹1500.0 </p><br>
                <a href="https://rzp.io/rzp/BXvTOkpr" target="_blank">
                    <button class="buy-now-btn">Buy Now</button>
                </a>
                <button class="register-btn" (click)="navigateToRegister()">Register</button>
            </div>
        </div>
    </header>

    <h2>Microservices Course</h2>
    <p>Welcome to the Microservices course. In this course, we will explore the key concepts behind Microservices Architecture and how to implement it using technologies like Spring Boot and Spring Cloud. You'll also learn the differences between Monolithic and Microservices architectures and how to develop scalable applications.</p>

    <!-- Microservices Course Content -->
    <div class="course-content">
        <!-- Add your course content here -->
        <h3>What is Monolith Architecture?</h3>
        <p>If we develop all the functionalities in a single project, then it is called a Monolith architecture-based application.</p>
        <h4>Advantages of Monolith Architecture:</h4>
        <ul>
            <li>Simple to develop</li>
            <li>Everything is available in one place</li>
            <li>Configuration is required only once</li>
        </ul>
        <h4>Disadvantages of Monolith Architecture:</h4>
        <ul>
            <li>Difficult to maintain</li>
            <li>Dependencies among the functionalities</li>
            <li>Single point of failure</li>
        </ul>
        <!-- Add more course content here -->
    </div>

   
<!-- Footer Section -->
<footer>
    <p>&copy; 2024 JavaFullStackGuru . All rights reserved.</p>
      <p>Contact Us : <a href="mailto:gainilaxman2@gmil.com">gainilaxman2&#64;gmail.com</a></p>
	 <p>Phone Number :<a href="tel:+9392291718" style="color: #f2f2f2;">+91 9392291718</a></p>
</footer>
