<header>
      <h1>CSS Course</h1>
      <div class="course-info">
          <p class="Course-Fee">Course Fee : ₹900.0 </p><br>
          <a href="https://rzp.io/rzp/BXvTOkpr" target="_blank">
              <button class="buy-now-btn">Buy Now</button>
          </a>
          <button class="register-btn" (click)="navigateToRegister()">Register</button>
      </div>
</header>

<html>
<h1>
   <meta name="google-adsense-account" content="ca-pub-6557551457522385">
    CSS
</h1>

</html>

<footer>
    <p>&copy; 2024 JavaFullstackGuru. All rights reserved.</p>
    <p>Contact Us: 
      <a href="mailto:gainilaxman2&#64;gmail.com" style="color: #f2f2f2;">gainilaxman2&#64;gmail.com</a> | 
      <a href="tel:+9392291718" style="color: #f2f2f2;">+91 9392291718</a>
    </p>
  </footer>